
            {% include "layout/partials/admin/header.html" %}
           <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Basic Form</h6>
                                <form action="{% url 'app_core:eventtype' %}" method="post" enctype="multipart/form-data">
			                    {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEventtype" class="form-label">Event name</label>
                                    <input type="text" name="name" class="form-control" id="exampleInputEventtype" required>
                                    <label for="exampleInputDescription" class="form-label">Description</label>
                                    <input type="text" name="des" class="form-control" id="exampleInputDescription" required>
                                    <label for="exampleInputDescription" class="form-label">Image</label>
                                    <input type="file" name="image" class="form-control" id="exampleInputImage" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
            {% include "layout/partials/admin/footer.html" %}